<% provide :title, t("admins.rooms.base_title")%>
<div class="content-wrapper">
  <%= render "form_search" %>
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12 title-head">
          <h1 class="m-0"><%= t "admins.rooms.base_title" %></h1>
          <%= link_to t("admins.rooms.add"), new_admins_room_path,
            class: "btn btn-warning float-right" %>
        </div>
      </div>
    </div>
  </div>
  <div class="total-record">
    <%= t "admins.rooms.find" %>
    <span class="number"><%= @rooms.total_count %></span>
  </div>
  <section class="content">
    <div class="container-fluid">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <div class="box-sort">
                <%= sort_link @q,
                              :id,
                              t("admins.rooms.id"),
                              default_order: :asc,
                              remote: true %>
              </div>
            </th>
            <th scope="col">
              <div class="box-sort">
                <%= sort_link @q,
                              :name,
                              t("admins.rooms.name"),
                              remote: true %>
              </div>
            </th>
            <th scope="col">
              <div class="box-sort">
                <%= sort_link @q,
                              :category_id,
                              t("admins.rooms.cate"),
                              remote: true %>
              </div>
            </th>
            <th scope="col">
              <div class="box-sort">
                <%= sort_link @q,
                              :price,
                              t("admins.rooms.price"),
                              remote: true %>
              </div>
            </th>
            <th scope="col"><%= t "admins.rooms.image" %></th>
            <th scope="col"><%= t "admins.rooms.action" %></th>
          </tr>
        </thead>
        <tbody id="rooms">
          <%= render @rooms %>
        </tbody>
      </table>
    </div>
  </section>
  <div id="rooms-paginate">
    <%= paginate @rooms, remote: "true", theme: "twitter-bootstrap-3" %>
  </div>
</div>
