<% provide :title, t("list_order")%>
<div class="content-wrapper">
  <%= render "form_search" %>
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12 title-head">
          <h1 class="m-0 text-success"><%= t "list_order" %></h1>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <table class="table text-info">
        <thead>
          <tr>
            <th><%= t "id" %></th>
            <th scope="col">
              <%= sort_link @q,
                            :room_name,
                            t(".room_name"),
                            remote: true %>
            </th>
            <th scope="col" class="text-center">
              <%= sort_link @q,
                            :room_address,
                            t(".room_address"),
                            remote: true %>
            </th>
            <th scope="col">
              <%= sort_link @q,
                            :created_at,
                            t(".created_at"),
                            remote: true %>
            </th>
            <th scope="col">
              <%= sort_link @q,
                            :date_start,
                            t(".date_start"),
                            remote: true %>
            </th>
            <th scope="col">
              <%= sort_link @q,
                            :date_end,
                            t(".date_end"),
                            remote: true %>
            </th>
            <th scope="col">
              <%= sort_link @q,
                            :price,
                            t(".unit_price"),
                            remote: true %>
            </th>
            <th scope="col">
              <%= t ".total_pay" %>
            </th>
            <th scope="col">
              <%= sort_link @q,
                            :status,
                            t(".status"),
                            remote: true %>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @orders %>
        </tbody>
      </table>
    </div>
  </section>
  <div class="text-center">
    <%= paginate @orders, theme: "twitter-bootstrap-3" %>
  </div>
  </div>
